# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv("chipotle.tsv" , delimiter='\t')

### Step 4. See the first 10 entries

In [4]:
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
num_rows, num_columns = chipo.shape
print("Number of observations:", num_rows)
print(chipo.shape)

Number of observations: 4622
(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [6]:
print(num_columns)

5

### Step 7. Print the name of all the columns.

In [7]:
column_names = chipo.columns

for column in column_names:
    print(column)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [8]:
current_index = chipo.index

print(current_index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [9]:
print(chipo["item_name"].value_counts().idxmax())

Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
choice_counts = chipo['choice_description'].value_counts()

print(choice_counts.max())

134

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
choice_counts =chipo['choice_description'].value_counts()

print(choice_counts.idxmax())

[Diet Coke]

### Step 12. How many items were orderd in total?

In [12]:
print(chipo["order_id"].count())

4622

### Step 13. Turn the item price into a float

In [13]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

#### Step 13.a. Check the item price type

In [14]:
print(chipo["item_price"].dtype)

float64

#### Step 13.b. Create a lambda function and change the type of item price

In [15]:
convert_to_float = lambda x: int(x)

chipo['item_price'] = chipo['item_price'].apply(convert_to_float)

#### Step 13.c. Check the item price type

In [16]:
print(chipo["item_price"].dtype)

int64

### Step 14. How much was the revenue for the period in the dataset?

In [17]:
chipo['item_price'] = chipo['item_price'].astype(float)

revenue = (chipo['item_price'] * chipo['quantity']).sum()

print("Total revenue for the period:", revenue)

Total revenue for the period: 36616.0

### Step 15. How many orders were made in the period?

In [18]:
num_orders = chipo['order_id'].nunique()

print("Total number of orders made in the period:", num_orders)

Total number of orders made in the period: 1834

### Step 16. What is the average revenue amount per order?

In [19]:
average_revenue_per_order = revenue / num_orders

print("Average revenue amount per order:", average_revenue_per_order)

Average revenue amount per order: 19.965103598691385

### Step 17. How many different items are sold?

In [20]:
num_unique_items_sold = chipo['item_name'].nunique()

print("Number of different items sold:", num_unique_items_sold)

Number of different items sold: 50