# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
df = pd.read_csv("student-mat.csv")

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [3]:
sliced_df = df.loc[:, 'school':'guardian']

### Step 5. Create a lambda function that will capitalize strings.

In [8]:
capitalize_string = lambda x: x.capitalize() if isinstance(x, str) else x

string_columns = df.select_dtypes(include='object').columns
df[string_columns] = df[string_columns].applymap(capitalize_string)

print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     Gp   F   18       U     Gt3       A     4     4  At_home   Teacher  ...
1     Gp   F   17       U     Gt3       T     1     1  At_home     Other  ...
2     Gp   F   15       U     Le3       T     1     1  At_home     Other  ...
3     Gp   F   15       U     Gt3       T     4     2   Health  Services  ...
4     Gp   F   16       U     Gt3       T     3     3    Other     Other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

### Step 6. Capitalize both Mjob and Fjob

In [9]:
capitalize_string = lambda x: x.capitalize() if isinstance(x, str) else x

df[['Mjob', 'Fjob']] = df[['Mjob', 'Fjob']].applymap(capitalize_string)

print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     Gp   F   18       U     Gt3       A     4     4  At_home   Teacher  ...
1     Gp   F   17       U     Gt3       T     1     1  At_home     Other  ...
2     Gp   F   15       U     Le3       T     1     1  At_home     Other  ...
3     Gp   F   15       U     Gt3       T     4     2   Health  Services  ...
4     Gp   F   16       U     Gt3       T     3     3    Other     Other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

### Step 7. Print the last elements of the data set.

In [10]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,Ms,M,20,U,Le3,A,2,2,Services,Services,...,5,5,4,4,5,4,11,9,9,9
391,Ms,M,17,U,Le3,T,3,1,Services,Services,...,2,4,5,3,4,2,3,14,16,16
392,Ms,M,21,R,Gt3,T,1,1,Other,Other,...,5,5,3,3,3,3,3,10,8,7
393,Ms,M,18,R,Le3,T,3,2,Services,Other,...,4,4,1,3,4,5,0,11,12,10
394,Ms,M,19,U,Le3,T,1,1,Other,At_home,...,3,2,3,3,3,5,5,8,9,9

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [11]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,Gp,F,18,U,Gt3,A,4,4,At_home,Teacher,...,4,3,4,1,1,3,6,5,6,6
1,Gp,F,17,U,Gt3,T,1,1,At_home,Other,...,5,3,3,1,1,3,4,5,5,6
2,Gp,F,15,U,Le3,T,1,1,At_home,Other,...,4,3,2,2,3,3,10,7,8,10
3,Gp,F,15,U,Gt3,T,4,2,Health,Services,...,3,2,2,1,1,5,2,15,14,15
4,Gp,F,16,U,Gt3,T,3,3,Other,Other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Ms,M,20,U,Le3,A,2,2,Services,Services,...,5,5,4,4,5,4,11,9,9,9
391,Ms,M,17,U,Le3,T,3,1,Services,Services,...,2,4,5,3,4,2,3,14,16,16
392,Ms,M,21,R,Gt3,T,1,1,Other,Other,...,5,5,3,3,3,3,3,10,8,7
393,Ms,M,18,R,Le3,T,3,2,Services,Other,...,4,4,1,3,4,5,0,11,12,10
394,Ms,M,19,U,Le3,T,1,1,Other,At_home,...,3,2,3,3,3,5,5,8,9,9

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [12]:
def majority(age):
    return age > 17

df['legal_drinker'] = df['age'].apply(majority)

print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     Gp   F   18       U     Gt3       A     4     4  At_home   Teacher  ...
1     Gp   F   17       U     Gt3       T     1     1  At_home     Other  ...
2     Gp   F   15       U     Le3       T     1     1  At_home     Other  ...
3     Gp   F   15       U     Gt3       T     4     2   Health  Services  ...
4     Gp   F   16       U     Gt3       T     3     3    Other     Other  ...

  freetime goout  Dalc  Walc  health absences  G1  G2  G3 legal_drinker
0        3     4     1     1       3        6   5   6   6          True
1        3     3     1     1       3        4   5   5   6         False
2        3     2     2     3       3       10   7   8  10         False
3        2     2     1     1       5        2  15  14  15         False
4        3     2     1     2       5        4   6  10  10         False

[5 rows x 34 columns]

### Step 10. Multiply every number of the dataset by 10.
##### I know this makes no sense, don't forget it is just an exercise

In [13]:
multiply_by_10 = lambda x: x * 10 if isinstance(x, (int, float)) else x

df = df.applymap(multiply_by_10)

print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     Gp   F  180       U     Gt3       A    40    40  At_home   Teacher  ...
1     Gp   F  170       U     Gt3       T    10    10  At_home     Other  ...
2     Gp   F  150       U     Le3       T    10    10  At_home     Other  ...
3     Gp   F  150       U     Gt3       T    40    20   Health  Services  ...
4     Gp   F  160       U     Gt3       T    30    30    Other     Other  ...

  freetime goout  Dalc  Walc  health absences   G1   G2   G3 legal_drinker
0       30    40    10    10      30       60   50   60   60            10
1       30    30    10    10      30       40   50   50   60             0
2       30    20    20    30      30      100   70   80  100             0
3       20    20    10    10      50       20  150  140  150             0
4       30    20    10    20      50       40   60  100  100             0

[5 rows x 34 columns]