**1-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
sentence = "Amr and Ahmed are frindes but Amr is the tallest".split()
non_repeated_sentence = set(sentence)

for i in non_repeated_sentence :
  counter = 0

  for j in sentence :

    if i == j :
      counter = counter + 1

  print(f"'{i}' is repeated {counter} times")

'are' is repeated 1 times
'is' is repeated 1 times
'tallest' is repeated 1 times
'and' is repeated 1 times
'Amr' is repeated 2 times
'but' is repeated 1 times
'the' is repeated 1 times
'Ahmed' is repeated 1 times
'frindes' is repeated 1 times

**2-Write a Python program to check whether a string starts with specified characters

In [ ]:
word = input("Enter any word : ").lower()
checked_letter = input("Enput a letter that you want to check the start of word with : ").lower()

if checked_letter == word[0] :
  print(f"Yes, it starts with {checked_letter}")

else :
  print(f"No, it dose not start with {checked_letter}")

Enter any word : Ahmed
Enput a letter that you want to check the start of word with : a
Yes, it starts with a

 **3-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
def count_repeated_characters(input_string):

    char_count = {}

    for char in input_string:

        if char in char_count:
            char_count[char] += 1

        else:
            char_count[char] = 1

    repeated_characters = {char: count for char, count in char_count.items() if count > 1}

    return repeated_characters

input_string = "ahmed waleed ebraim"
result = count_repeated_characters(input_string)
print("Repeated characters:", result)

Repeated characters: {'a': 3, 'm': 2, 'e': 4, 'd': 2, ' ': 2}

**4-Write a Python program to find the first non-repeating character in a given string

In [ ]:
def first_non_repeating_char(s):

    char_freq = {}

    for char in s:

        if char in char_freq:
            char_freq[char] += 1

        else:
            char_freq[char] = 1

    for char in s:

        if char_freq[char] == 1:
            return char

    return None

input_string = input("Enter a string: ")
result = first_non_repeating_char(input_string)

if result:
    print("The first non-repeating character is:", result)

else:
    print("There are no non-repeating characters in the given string.")

Enter a string: aassddffgg
There are no non-repeating characters in the given string.

**5-Write a Python program to remove spaces from a given string

In [ ]:
my_name = "Ahmed Waleed Ebrahim Nasr El-Daly"
my_name.replace(" ","")

'AhmedWaleedEbrahimNasrEl-Daly'

**6-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
def count_non_empty_substrings(input_string):

    count = 0

    for i in range(len(input_string)):

        for j in range(i, len(input_string)):

            if input_string[i:j+1]:

                count += 1

    return count

input_string = "abc"
result = count_non_empty_substrings(input_string)
print("Number of non-empty substrings:", result)

Number of non-empty substrings: 6

**7-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
def convert_to_key_value_pairs(values_list, keys_list):

    result = []

    for i in range(min(len(values_list), len(keys_list))):

        temp_dict = {keys_list[i]: values_list[i]}

        result.append(temp_dict)

    return result

test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
output = convert_to_key_value_pairs(test_list, key_list)
print("Output:", output)

Output: [{'name': 'Gfg'}, {'id': 3}]

**8-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
input_list = [1, 1, 2, 3, 4, 5, 1, 2, 1]

element_to_remove = 1

output_list = [x for x in input_list if x != element_to_remove]

print("Output:", output_list)

Output: [2, 3, 4, 5, 2]

**9-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
list1 = ["Gfg", "is", "best"]
list2 = [0,1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

i , j = 0 , 0

while i != len(list2) :
  list2[i] = list1[j]

  j = j + 1
  i = i + 1

  if j == 3 :
    j = 0

print(list2)

['Gfg', 'is', 'best', 'Gfg', 'is', 'best', 'Gfg', 'is', 'best', 'Gfg', 'is', 'best']

**10- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
def retain_records(test_list, K, N):

    result = [tpl for tpl in test_list if tpl.count(K) == N]
    return result

test_list1 = [(4, 5, 5, 4), (5, 4, 3)]
test_list2 = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N1 = 2
N2 = 3

output1 = retain_records(test_list1, K, N1)
print("Output 1:", output1)

output2 = retain_records(test_list2, K, N2)
print("Output 2:", output2)

Output 1: [(4, 5, 5, 4)]
Output 2: []

**11-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

def sort_array_by_column(arr, column):
    sorted_array = sorted(arr, key=lambda x: x[column])
    return sorted_array

columns = len(array[0])

for col in range(columns):
    sorted_array = sort_array_by_column(array, col)
    print("Sorted array specific to column", col, ",", sorted_array)

Sorted array specific to column 0 , [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1 , [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2 , [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**12- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
my_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

sorted_dict = dict(sorted(my_dict.items()))
print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**13-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
def remove_keys_greater_than_K(test_dict, K):
    result_dict = {key: value for key, value in test_dict.items() if not (isinstance(value, int) and value >= K)}
    return result_dict

test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
K = 7

output_dict = remove_keys_greater_than_K(test_dict, K)
print("Output:", output_dict)

Output: {'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**14-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [27]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

my_dict = dic1
my_dict.update(dic2)

my_final_dict = my_dict
my_final_dict.update(dic3)

print(my_final_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**15-Write a Python program to iterate over dictionaries using for loops

In [ ]:
test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}

for i in test_dict :
  print(f"{i} : {test_dict[i]}")

Gfg : 3
is : 7
best : 10
for : 6
geeks : CS

**16- Write a Python script to merge two Python dictionaries

In [ ]:
test_dict1 = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
test_dict2 = {"Ahmed" : 21 , "Waleed" : 50}

my_dict = test_dict1
my_dict.update(test_dict2)

print(my_dict)

{'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS', 'Ahmed': 21, 'Waleed': 50}

**17-Write a Python program to get the maximum and minimum values of a dictionary values

In [1]:
test_dict1 = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 100}

values = test_dict1.values()

print(max(values))
print(min(values))

100
3

**18- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [3]:
original_dictionary ={'c1': 'Red', 'c2': 'Green', 'c3': None}

for i in original_dictionary.copy():

  if original_dictionary[i] == None :
    original_dictionary.pop(i)

print(original_dictionary)

{'c1': 'Red', 'c2': 'Green'}

**19-Write a Python program to create a tuple of numbers and print one item

In [4]:
my_tuple = (1,2,3,4,5,6)
print(my_tuple[0])

1

**20-Write a Python program to unpack a tuple into several variables

In [ ]:
my_tuple = (1, 2, 3)

x, y, z = my_tuple

print("x:", x)
print("y:", y)
print("z:", z)

**21-Write a Python program to add an item to a tuple

In [8]:
my_tuple = (1, 2, 3)

new_item = 4

new_tuple = my_tuple + (new_item,)

print(new_tuple)

(1, 2, 3, 4)

**22-Write a Python program to convert a tuple to a string

In [10]:
my_tuple = ('Ahmed', 'Waleed', 'El-Daly')

result_string = ' '.join(my_tuple)

print("Tuple converted to string :", result_string)

Tuple converted to string : Ahmed Waleed El-Daly

**23-Write a Python program to convert a list to a tuple

In [11]:
my_list = [1,2,3]
my_tuple = ()

for i in my_list :
  my_tuple = my_tuple + (i,)

print(my_tuple)

(1, 2, 3)

In [12]:
my_list = [1,2,3]
print(tuple(my_list))

(1, 2, 3)

**24-Write a Python program to reverse a tuple

In [15]:
my_tuple = ('Ahmed', 'Waleed', 'El-Daly')

print(my_tuple[-1::-1])

('El-Daly', 'Waleed', 'Ahmed')

**25-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [25]:
my_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

new_item = 100

new_list = [(i[0], i[1], new_item) for i in my_list]

print("Modified list:", new_list)

Modified list: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**26-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [28]:
x= 'python 3.0'
print(tuple(x))

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**27-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [32]:
my_tuple = (1,2,3,4,5,6)

average = sum(x for x in my_tuple) / len(my_tuple)

print(average)

3.5

**28-Write a Python program to add member(s) to a set.

In [33]:
my_set = {1,2,3,4}
my_set.add("s")
print(my_set)

{'s', 1, 2, 3, 4}

**29-Write a Python program to remove an item from a set if it is present in the set.

In [34]:
my_set.remove("s")
print(my_set)

{1, 2, 3, 4}

**30-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [39]:
my_set2 = {1,2,3,4,5,6,7}
print(my_set2.difference(my_set))
print(my_set2.intersection(my_set))
print(my_set2.symmetric_difference(my_set))
print(my_set2.union(my_set))

{5, 6, 7}
{1, 2, 3, 4}
{5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

**31-Write a Python program to find the maximum and minimum values in a set

In [41]:
print(max(my_set2))
print(min(my_set2))

7
1