# Session 2 Tasks

1. Create 3 variables to store street, city and country, now create address variable to
store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the street, city and country prints in a separate line
2. Create a variable to store the string "Earth revolves around the sun"
    1. Print "revolves" using slice operator
    2. Print "sun" using negative index
3. Create two variables to store how many fruits and vegetables you eat in a day.
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
4. I have a string variable called s='maine 200 banana khaye'. This of course is a
wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original strong with new ones and print the new string.
Also try to do this in one line.

In [ ]:
street = "street"
city = "city"
country = "country"
address = street + city + country

address = f"{street} {city} {country}"

print(address[0:6])
print(address[7:11])
print(address[12:])

street
city
country

In [ ]:
my_sentence = "Earth revolves around the sun"
print(my_sentence[6:14])
print(my_sentence[-3:])

revolves
sun

In [ ]:
fruits = input("How many fruits that you eat today ? ")
vegetables = input("How many vegetables that you eat today ? ")

print(f"You ate {fruits} fruits and {vegetables} vegetables today")

How many fruits that you eat today ? 5
How many vegetables that you eat today ? 8
You ate 5 fruits and 8 vegetables today

In [ ]:
s="maine 200 banana khaye"
print(s.replace("banana" , "samosa"))

maine 200 samosa khaye

1. Let us say your expense for every month are listed below.
	  1. January -  2200
    2. February - 2350
    3. March - 2600
    4. April - 2130
    5. May - 2190

Create a list to store these monthly expenses and using that find out,

    1. In Feb, how many dollars you spent extra compare to January?
    2. Find out your total expense in first quarter (first three months) of the year.
    3. Find out if you spent exactly 2000 dollars in any month
    4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
    5. You returned an item that you bought in a month of April and
    got a refund of 200$. Make a correction to your monthly expense list
    based on this

2. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [ ]:
my_list = [["January","Feb","Mars","April","May"] , [2200 , 2350 , 2600 , 2130 , 2190]]
print((my_list[1][1]) - (my_list[1][0]))

# --------------------------------------------------

print((my_list[1][0]) + (my_list[1][1]) + (my_list[1][2]))

# -----------------------------------------------------

f = 0
i = 0
while i < len(my_list[1]) :

  if my_list[1][i] == 2000 :
    f = f + 1

  i = i + 1

if f == 0 :
  print("You did not spend 2000$ in any month")
else :
  print("You did that")

# -----------------------------

my_list[1].append("1980")
my_list[0].append("June")
print(my_list)

# -----------------------------

my_list[1][3] = my_list[1][3] - 200
print(my_list)

150
7150
You did not spend 2000$ in any month
[['January', 'Feb', 'Mars', 'April', 'May', 'June'], [2200, 2350, 2600, 2130, 2190, '1980']]
[['January', 'Feb', 'Mars', 'April', 'May', 'June'], [2200, 2350, 2600, 1930, 2190, '1980']]

In [ ]:
heros=['spider man','thor','hulk','iron man','captain america']

# -----------------------------

print(len(heros))
heros.append("Black panther")
print(heros)

# -----------------------------


heros.pop()
heros.insert(3,"Black panther")
print(heros)

# -----------------------------


heros.remove("thor")
heros[1]="doctor string"
print(heros)

# -----------------------------


heros.sort()
print(heros)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'Black panther']
['spider man', 'thor', 'hulk', 'Black panther', 'iron man', 'captain america']
['spider man', 'doctor string', 'Black panther', 'iron man', 'captain america']
['Black panther', 'captain america', 'doctor string', 'iron man', 'spider man']

Write a program that prints following shape

```
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
```

In [1]:
max_num_of_stars = int(input("Enter the max number of stars : "))
copy_num = max_num_of_stars - 2
space_left_and_right = 0 # 0 is intial value
i = 1 # for multiplie * if max number of stars was odd
n = 2 # for multiplie * if max number of stars was even

if max_num_of_stars > 0 :

  while True :

    if max_num_of_stars > 0 :

      space_left_and_right = (max_num_of_stars - 1) // 2
      print(" "*space_left_and_right,end="")

      if max_num_of_stars % 2 != 0 :

        print("*"*i,end="")
        i = i + 2

      else :

        print("*"*n,end="")
        n = n + 2

      print(" "*space_left_and_right,end="\n")

      max_num_of_stars = max_num_of_stars - 2

    elif max_num_of_stars <= 0 :

      if copy_num > 0 :

        space_left_and_right = space_left_and_right + 1

        print(" "*space_left_and_right,end="")
        print("*"*copy_num,end="")
        print(" "*space_left_and_right,end="\n")

        copy_num = copy_num - 2

      else :

        break

else :

  print("Please, enter a number bigger than 0")

del copy_num , space_left_and_right , max_num_of_stars , i , n

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *